<nav class="navbar nav-pills nav-fill flex-column flex-sm-row justify-content-center bg-dark mb-4" id="myTab" role="navigation">
    <a href="/koszyk" class="nav-link flex-sm-fill text-sm-center">Koszyk</a>
    <a href="/konto" class="nav-link flex-sm-fill text-sm-center">Konto</a>
    <a href="/mainPage" class="nav-link flex-sm-fill text-sm-center">Strona Główna</a>
    <a href="/add" class="nav-link flex-sm-fill text-sm-center">Dodaj Ogłoszenie</a>
    <a href="/mojeOgloszenia" class="nav-link flex-sm-fill text-sm-center">Moje ogłoszenia</a>
    <a href="/logout" class="nav-link flex-sm-fill text-sm-center">Wyloguj się</a>
</nav>